@font-face {
    font-family: 'HanleyBlock';
    src: url('/fonts/HanleyBlock-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.font-hanley {
    font-family: 'HanleyBlock', sans-serif;
}